<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>$(APP_ID_PREFIX).$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>com.apple.developer.team-identifier</key>
	<string>$(APP_ID_PREFIX)</string>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.nicolasbellon.dsdownload.shared.new</string>
	</array>
	<key>get-task-allow</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)$(APP_ID_PREFIX).*</string>
	</array>
</dict>
</plist>
